body {
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}

.list {
  text-align: left;
  max-width : 700px;
  margin: auto;
}

.form{
  max-width: 300px;
  margin: auto;
  border-radius: 20px;
}

.btn {
  border-radius: 20px;
  border: solid 5px;
  color: palegreen;

}